<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- JQuery non slim version -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        
        <!-- Custom External CSS -->
        <link rel="stylesheet" type="text/css" href="/static/global.css">
        <link rel="stylesheet" type="text/css" href="/static/navigationbar.css">
        <link rel="stylesheet" type="text/css" href="/static/search.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
        <script src="/static/index.js" type="text/javascript"></script>

        <!-- Custom jquery to get navigation bar -->
        <script> 
            $(function(){
              $("#navigationbar").load("/static/navigationbar.html"); 
            });
        </script> 
    </head>
    <title>Price Comparison</title>
    <body ng-app="myApp">
        <div id="maindiv" class="row" ng-controller="SearchController">
            <div id="navigationbar" class="col-2"></div>
            <div id="bodydiv" class="col">
                <div class="row">
                    <div class="col option" >
                        <label>Filter</label>
                        <i class="fas fa-filter"></i>
                    </div>
                    <div class="col option">
                        <label>Compare</label>
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                </div>
                <div id="search_result">
                    <div id="items-body">
                        <li class="row saved-item" ng-repeat="item in result">
                           <img class="col-3" id="savedimg" src="{{ item.largeImage }}">
                           <div id="info" class="col-8 d-flex align-items-center">
                               <div>
                                    <label class="info-label">Product Name: <label style="margin: 0;">{{ item.name }}</label></label>
                                    <label class="info-label">Product Link: <a href="item.url">{{ item.url }}</a></label>
                                    <label class="info-label">Company: <label style="margin: 0;">{{ item.retailer }}</label></label>
                                    <label class="info-label">Price: <label style="margin: 0;">{{ item.salePrice }}</label></label>
                               </div>
                            </div>
                           <div class="col-1 d-flex justify-content-center">
                               <div>
                                    <input type="checkbox">
                                    <br>
                                    <i ng-if="item.saved" class="fas fa-heart"></i>
                                    <i ng-if="!item.saved" ng-click="saveItem(item, $index)" style="color:antiquewhite;" class="fas fa-heart"></i>
                               </div>
                           </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>